 :root {
   --nav-width: 92px;

   --first-color: #0C5DF4;
   --bg-color: #12192C;
   --sub-color: #B6CEFC;
   --white-color: #FFF;

   --body-font: 'Poppins', sans-serif;
   --normal-font-size: 1rem;
   --small-font-size: .875rem;

   --z-fixed: 100;
 }

 .content-body {
   position: relative;
   margin: 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   transition: .5s;
 }

 .navbar-item-list {
   color: white;
   display: flex;
   gap: 30px;
   padding: 0 30px;
 }

 .navbar-content {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .navbar-brand {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   color: white;
 }

 .navbar-user-data {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
 }

 .navbar-role {
   font-size: small;
 }

 .navbar-user-img {
   width: 45px;
   height: 45px;
 }


 .dropDownMenu {
   .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
   }

   .dropdown {
     position: relative;
     display: inline-block;
   }

   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
   }

   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }

   .dropdown-content a:hover {
     background-color: #f1f1f1
   }

   .dropdown:hover .dropdown-content {
     display: block;
   }

   .dropdown:hover .dropbtn {
     background-color: #3e8e41;
   }
 }




 #common-table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 #common-table td,
 #common-table th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #common-table tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 #common-table tr:hover {
   background-color: #ddd;
 }

 #common-table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #18283b;
   color: white;
 }

 .table-badge {
   display: flex;
   margin: auto;
   width: 84px;
 }

 .examTableActionCol {
   width: 20%;
 }

 @media screen and (max-width:991px) {
   .examTableActionCol {
     width: 40%;
   }
 }

 .pagination {
   margin: 30px 0px !important;
 }

 .page-link {
   white-space: nowrap !important;
 }

 .dropdown-item:hover,
 .dropdown-item:focus {
   background-color: #c0dfff !important;
 }

 .statusColumn,
 .actionColumn {
   width: 10% !important;
   text-align: center !important;
 }

 .active .page-link {
   color: #ffffff !important;
   background-color: #007fff !important;
 }
 .disable-item .page-link{
   color:   #c8c8c8 !important; 
 }